.dashboard {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

td {
    font-weight: bold;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

tr {
    border: 1px solid #ddd;
}

